In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./all_billionaires_1997_2023.csv')

In [13]:
df_2023 = df[df['year'] == 2023]

In [14]:
df_2023

,year,month,rank,net_worth,last_name,first_name,full_name,birth_date,age,gender,country_of_citizenship,country_of_residence,city_of_residence,business_category,business_industries,organization_name,position_in_organization,self_made,wealth_status
29092,2023,4,1.0,211.0 B,Arnault,Bernard,Bernard Arnault & family,1949-03-05,74.0,Male,France,France,Paris,Fashion & Retail,['Fashion & Retail'],LVMH Moët Hennessy Louis Vuitton,Chairman and CEO,False,Increased
29093,2023,4,2.0,180.0 B,Musk,Elon,Elon Musk,1971-06-28,51.0,Male,United States,United States,Austin,Automotive,['Automotive'],Tesla,CEO,True,Decreased
29094,2023,4,3.0,114.0 B,Bezos,Jeff,Jeff Bezos,1964-01-12,59.0,Male,United States,United States,Medina,Technology,['Technology'],Amazon,Chairman and Founder,True,Decreased
29095,2023,4,4.0,107.0 B,Ellison,Larry,Larry Ellison,1944-08-17,78.0,Male,United States,United States,Lanai,Technology,['Technology'],Oracle,CTO and Founder,True,Increased
29096,2023,4,5.0,106.0 B,Buffett,Warren,Warren Buffett,1930-08-30,92.0,Male,United States,United States,Omaha,Finance & Investments,['Finance & Investments'],Berkshire Hathaway Inc. (Cl A),CEO,True,Decreased
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31727,2023,4,2540.0,1.0 B,Yu,Rong,Yu Rong,1971-12-14,51.0,Male,China,China,Shanghai,Healthcare,['Healthcare'],NaN,NaN,True,Decreased
31728,2023,4,2540.0,1.0 B,Yuengling,Richard,"Richard Yuengling, Jr.",1943-03-10,80.0,Male,United States,United States,Pottsville,Food & Beverage,['Food & Beverage'],NaN,NaN,False,Remained Even
31729,2023,4,2540.0,1.0 B,Zhang,Gongyun,Zhang Gongyun,1962-12-18,60.0,Male,China,China,Gaomi,Manufacturing,['Manufacturing'],NaN,NaN,True,Returned to List
31730,2023,4,2540.0,1.0 B,Zhang,Guiping,Zhang Guiping & family,1951-08-21,71.0,Male,China,China,Nanjing,Real Estate,['Real Estate'],NaN,NaN,True,Decreased
31731,2023,4,2540.0,1.0 B,Zobel,Inigo,Inigo Zobel,1956-11-01,66.0,Male,Philippines,Philippines,Makati,Diversified,['Diversified'],NaN,NaN,False,Returned to List